.header {
    position: fixed;
    top: 14px;
    left: 5vw;
    width: calc(100% - 10vw);
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    margin: 3vh 5vh;
    background-color: #363535;
    border-radius: 6px;
    box-shadow: 0 9px 28px 3px rgba(0, 0, 0, 0.55);
}

.nav {
    max-width: 25vw;
    width: 100%;
    padding: 2vh;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c4c2c2;
    font-size: 14px;
}
