/* page.module.css */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; 
  background-color: black;

}

.scrollContainer {
  flex: 1;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  perspective: 1000px;
  transform-style: preserve-3d;
  perspective-origin: center center;
}

.scrollContainer > * {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}