.title {
    margin: 0 0 6px;
    color: #313131;
    font-size: 2.7rem;
    font-weight: lighter;
}
.subTitle {
    margin-bottom: 30px;
    color: #313131;
}

.teamContainer {
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 180px;
}

.teamBg {
    position: absolute;
    top: calc(-5vh - 50px);
    right: -6rem;
    bottom: -100px;
    left: -6rem; 
    background-color: #2f2f2f;
    background-image: url("/bgTeam.jpg");
    background-size: 150%;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1;
}

.teamBg:before {
    content:"";
    position: absolute;
    top: 0;
    width: 100%;
    height: 55px;
    background: linear-gradient(to bottom, #fff, transparent); 
  }

.imageContainer {
    width: 100%;
    margin-top: -17vh;
    /* display: inline-block; */
}

.img1 {
    /* position: relative; */
    width: 15.5vw;
    height: 40vh;
    display: inline-block;
    margin-bottom: 30vh;

    filter: grayscale(1);

    background-color: #e0dcce;
    background-image: url("/avatarTeamSection.jpg");
    background-position: center;
    background-size: cover;
}

.img2 {
    width: 15.5vw;
    height: 48vh;
    margin-bottom: 10vh;
    display: inline-block;

    filter: grayscale(1);

    background-color: #e0dcce;
    background-image: url("/avatarTeamSection.jpg");
    background-position: center;
    background-size: cover;
}

.group1 {
    display: inline-block;
}

.img3 {
    width: 14vw;
    height: 41vh;
    margin-left: 9.5vw;
    /* margin-top: -10vh; */
    /* margin-bottom: 10vh; */
    display: block;

    filter: grayscale(1);

    background-color: #e0dcce;
    background-image: url("/avatarTeamSection.jpg");
    background-position: center;
    background-size: cover;
}

.img4 {
    width: 23.5vw;
    height: 48vh;
    /* margin-bottom: 10vh; */
    display: block;

    filter: grayscale(1);

    background-color: #e0dcce;
    background-image: url("/avatarTeamSection.jpg");
    background-position: center;
    background-size: cover;
}

.img5 {
    width: 14.5vw;
    height: 41vh;
    margin-bottom: 12vh;
    display: inline-block;

    filter: grayscale(1);

    background-color: #e0dcce;
    background-image: url("/avatarTeamSection.jpg");
    background-position: center;
    background-size: cover;
}

.group2 {
    display: inline-block;
}

.img6 {
    width: 16vw;
    height: 59vh;
    /* margin-bottom: 10vh; */
    display: block;

    filter: grayscale(1);

    background-color: #e0dcce;
    background-image: url("/avatarTeamSection.jpg");
    background-position: center;
    background-size: cover;
}

.img7 {
    width: 11.5vw;
    height: 30vh;
    /* margin-bottom: 10vh; */
    display: block;

    filter: grayscale(1);

    background-color: #e0dcce;
    background-image: url("/avatarTeamSection.jpg");
    background-position: center;
    background-size: cover;
}

.teamList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}
.teamItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 20vw;
    margin: 0 10px 25px 0;
}
.name {
    text-align: center;
    font-weight: bold;
    color: #c4c2c2;
}
.role {
    text-align: center;
    color: #c4c2c2;
}
.teamImg {
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 8px;
}