.title {
    margin: 0 0 6px;
    color: #313131;
    font-size: 2.7rem;
    font-weight: lighter;
}
.subTitle {
    margin-bottom: 30px;
    color: #313131;
}

.teamContainer {
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
    padding-top: 11vh;
}

.teamBg {
    position: absolute;
    top: 0;
    right: -6rem;
    bottom: 0;
    left: -6rem; 
    background-color: #2f2f2f;
    background-image: url("../../../../assets/img/bgTeam.jpg");
    background-size: 100% 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1;
}

.imageContainer {
    display: flex;
    width: 100%;
    margin-top: -13vh;
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7 {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img1 {
    width: 15.5vw;
    height: 40vh;
    margin-top: 20vh;
    padding: 20px 30px;
    background-color: #e0dcce;
    background-image: url("../../../../assets/img/TeamImages/img1.png");
    background-position: center;
    background-size: cover;
    color: #fff;
}
.img1:hover {
    background: #575757;
}
.img1:hover p:first-of-type {
    display: unset;
    width: 100%;
}
.img1:hover p:last-of-type {
    display: unset;
    font-size: 10px;
}
.img1 p {
    display: none;
}

.img2 {
    width: 15.5vw;
    height: 48vh;
    margin-top: 30vh;
    background-color: #e0dcce;
    background-image: url("../../../../assets/img/TeamImages/img2.png");
    background-position: center;
    background-size: cover;
}
.img2:hover {
    background: #575757;
}
.img2:hover p:first-of-type {
    display: unset;
    width: 100%;
}
.img2:hover p:last-of-type {
    display: unset;
    font-size: 10px;
}
.img2 p {
    display: none;
}
.group1 {
    display: flex;
    flex-direction: column;
}

.img3 {
    width: 14vw;
    height: 41vh;
    margin-left: 9.5vw;
    background-color: #e0dcce;
    background-image: url("../../../../assets/img/TeamImages/img3.png");
    background-position: center;
    background-size: cover;
}
.img3:hover {
    background: #575757;
}
.img3:hover p:first-of-type {
    display: unset;
    width: 100%;
}
.img3:hover p:last-of-type {
    display: unset;
    font-size: 10px;
}
.img3 p {
    display: none;
}

.img4 {
    width: 23.5vw;
    height: 48vh;
    background-color: #e0dcce;
    background-image: url("../../../../assets/img/TeamImages/img4.png");
    background-position: center;
    background-size: cover;
}
.img4:hover {
    background: #575757;
}
.img4:hover p:first-of-type {
    display: unset;
    width: 100%;
}
.img4:hover p:last-of-type {
    display: unset;
    font-size: 10px;
}
.img4 p {
    display: none;
}

.img5 {
    width: 14.5vw;
    height: 41vh;
    margin-top: 37vh;
    background-color: #e0dcce;
    background-image: url("../../../../assets/img/TeamImages/img5.png");
    background-position: center;
    background-size: cover;
}
.img5:hover {
    background: #575757;
}
.img5:hover p:first-of-type {
    display: unset;
    width: 100%;
}
.img5:hover p:last-of-type {
    display: unset;
    font-size: 10px;
}
.img5 p {
    display: none;
}

.group2 {
    display: inline-block;
}

.img6 {
    width: 16vw;
    height: 59vh;
    background-color: #e0dcce;
    background-image: url("../../../../assets/img/TeamImages/img6.png");
    background-position: center;
    background-size: cover;
}
.img6:hover {
    background: #575757;
}
.img6:hover p:first-of-type {
    display: unset;
    width: 100%;
}
.img6:hover p:last-of-type {
    display: unset;
    font-size: 10px;
}
.img6 p {
    display: none;
}

.img7 {
    width: 20vh;
    height: 30vh;
    background-color: #e0dcce;
    background-image: url("../../../../assets/img/TeamImages/img7.png");
    background-position: center;
    background-size: cover;
}
.img7:hover {
    background: #575757;
}
.img7:hover p:first-of-type {
    display: unset;
    width: 100%;
}
.img7:hover p:last-of-type {
    display: unset;
    font-size: 10px;
}
.img7 p {
    display: none;
}

.teamList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}
.teamItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 20vw;
    margin: 0 10px 25px 0;
}
.name {
    text-align: center;
    font-weight: bold;
    color: #c4c2c2;
}
.role {
    text-align: center;
    color: #c4c2c2;
}
.teamImg {
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 8px;
}