.preloader {
    height: 100vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes logoToCorner {
    0% {
        transform: translate(0, 0);
    }
    100% {
        width: 100px;
        transform: translate(-40vw, -40vh);
    }
}

@keyframes backgroundToBlack {
    100% {
        background-color: gray;
    }
}

.logo {
    width: 600px;
    margin:0;
    padding:0;
    border-radius: 50%;
    animation: logoToCorner 2s ease, backgroundToBlack 300ms ease;
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

.st0{
    fill:#010202;
}
.letterNN{
    fill:none;
    stroke:#010202;
    stroke-miterlimit:10;
}
.first, .second {
    opacity:0;
    transform: translateX(50px);
    animation: fadeInAndTranslate 2s 2s forwards;
}

@keyframes toWhite {
    100% {
        fill: #fff;
    }
}

@keyframes fadeInAndTranslate {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes one {
    100% {
        stroke-dashoffset: 0;
    }
}

.st21{
    fill:none;
    stroke:#010202;
    stroke-width:2;
    stroke-miterlimit:10;
    stroke-dasharray:800;
    stroke-dashoffset:800;
    animation: one 8s 3.8s ease forwards;
}

@keyframes two {
    100% {
        stroke-dashoffset: 0;
    }
}

.st22{
    fill:none;
    stroke:#010202;
    stroke-width:2;
    stroke-miterlimit:10;
    stroke-dasharray:500;
    stroke-dashoffset:500;
    animation: two 4s 6s linear forwards;
}

@keyframes three {
    100% {
        stroke-dashoffset: 0;
    }
}

.st1{
    fill:none;
    stroke:#010202;
    stroke-miterlimit:10;
    stroke-dasharray:1000;
    stroke-dashoffset:1000;
    animation: three 10s 8s linear forwards;
}
