.title {
    margin: 0 0 6px;
    color: #313131;
    font-size: 2.7rem;
    font-weight: lighter;
}
.subTitle {
    margin-bottom: 30px;
    color: #313131;
}

.MapContainer {
    position: relative;
    padding-top: 100px;
    padding-bottom: 70px;
    height: 100vh;
    scroll-snap-align: start;
  }
  
  .MapBg {
    position: absolute;
    top: 0;
    right: -6rem;
    bottom: 0;
    left: -6rem;
    background-color: #2f2f2f;
    background-image: url("../../../../assets/img/bgMap.svg");
    background-size: cover; /* Use cover to maintain aspect ratio and cover the entire container */
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  .ballContainer {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
  }
  
  .rowContainer {
    display: flex; /* Use flex instead of table for better responsiveness */
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
  }
  

  