.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 12rem);
    height: 50px;
    padding: 0 3vw;
    margin: 0 auto 5vh;
    background-color: #363535;
    border-radius: 6px;
    box-shadow: 0 9px 28px 3px rgba(0, 0, 0, 0.55);
    z-index: 100;
}

.nav {
    max-width: 25vw;
    width: 100%;
    padding: 2vh;
}

.list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #c4c2c2;
    font-size: 14px;
}
.list li:not(:last-child) {
    margin-right: 40px;
}