.MapContainer {
    position: relative;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-bottom: 180px;
    height: 90vh;
    /* overflow: hidden; */
}

.title {
    margin: 0 0 6px;
    color: #313131;
    font-size: 2.7rem;
    font-weight: lighter;
}

.subTitle {
    margin-bottom: 30px;
    color: #313131;
}

.MapBg {
    position: absolute;
    top: 0;
    right: -6rem;
    bottom: -100px;
    left: -6rem; 
    background-color: #2f2f2f;
    background-image: url("/bgMap.svg");
    background-size: 150%;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1;
}


/* balls animation */

.mapSection {
    text-align: center;
    margin: 20px;
  }
  
  .ballContainer {
    position: relative;
    height: 400px; /* Adjust the height based on your needs */
    overflow: hidden;
    margin-top: 20px;
  }

  .MapContainer {
    position: relative;
  }
  
  .Ball {
    position: absolute;
    width: 4vh;
    height: 4vh;
    background-color: #393939;
    border-radius: 50%;
    transition: transform 2s ease-in; /* Add transition property for smooth motion */
  }
  
