/* Pin.module.css */
.pin {
    position: absolute;
    z-index: 1;
    /* pointer-events: none; Allows clicks to go through the pin to the map */
  }
  
  .hoverme {
    position: relative;
    cursor: pointer;
  

  }

  .hoverme:hover {
    /* background-color: rgba(246, 246, 246, 0.3); */

    & > .pop {
      opacity: 1;
      width: 35vw;
      height: auto;
      padding: 20px;
      display: block;
    }
    /* & > .img {
      opacity: 0;
    }
    & ~ * {
      opacity: 0;
    } */
  }

  .hoverme > p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .pop {
    opacity: 0;
    width: 35vw;
    display: none;
    height: 0;
    background: rgba(255, 255, 255, 0.9);
    border: 3px solid white;
    border-radius: 0%;
    position: relative;
    z-index: 2;
    margin: auto;
    transition: all 0.3s ease;

    transform: translateX(5%) translateY(-20%);

    .h3 {
        text-align: center;
        font-size: 24px;
        padding: 5px;
    }

    .text {
        font-size: 20px;
    }
  }

  .pop > p {
    color: #353535;
    font-size: 20px;
  }
  
  