.keepContainer {
    position: relative;
    display: flex;
    background: #fff;
    height: 100vh;
    scroll-snap-align: start;
}

.title {
    margin: 0 0 6px;
    color: #313131;
    font-size: 2.7rem;
    font-weight: lighter;
}
.subTitle {
    margin-bottom: 30px;
    color: #313131;
}

.blockContainer {
    width: 140%;
    margin-top: -1.6vh;
}

.keepBg {
    position: absolute;
    top: 0;
    right: -6rem;
    bottom: 0;
    left: -6rem; 
    background-color: #fff;
    background-image: url("/KeepImproveBg.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1;
}

.support {
    display: flex;
    align-items: center;
    background: #d1d1d1;
    color: #000;
    font-family: 'Bebas Neue Bold';
    width: 21.5vw;
    height: 50vh;
    padding: 10px;
}

.we {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    width: 35.5vw;
    height: 100vh;
    margin-right: 5vw;
}

.we p:first-child {
    margin-bottom: 30px;
}

.understand {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 33vw;
    background: #828282;
    color: #fff;
    height: 48vh;
    padding-right: 7vw;
}

.also {
    position: absolute;
    top: 60vh;
    left: -15vw;
    display: flex;
    align-items: center;
    background: #828282;
    color: #fff;
    width: 35.5vw;
    height: 25vh;
    z-index: 2;
}

.support,.also,.we, .understand p {
    text-align: center;
    font-size: 1.4rem;
    padding: 5vh;
    /* margin: 0; */
}

.keepTitleContainer {
    display: inline-block;
    margin-top: 15vh;
    margin-right: 5vw;
    margin-bottom: 30vh;
}

.understandAndAlsoContainer {
    position: relative;
    display: inline-block;
    margin-top: 15vh;
    width: 28vw;
}