.title {
    margin: 0 0 6px;
    color: #313131;
    font-size: 2.7rem;
    font-weight: lighter;
}
.subTitle {
    margin-bottom: 30px;
    color: #313131;
}

.blockContainer {
    width: 140%;
    margin-top: -1.6vh;
}

.keepContainer {
    position: relative;
    margin-top: 20vw;
    margin-bottom: 50px;
    padding-bottom: 200px;
    background: #fff;
    /* height: 1000px; */
}

.keepBg {
    position: absolute;
    top: calc(-5vh - 50px);
    right: -6rem;
    bottom: -100px;
    left: -6rem; 
    background-color: #fff;
    background-image: url("/KeepImproveBg.png");
    background-size: 150%;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1;
}

.support {
    background: red;
    width: 21.5vw;
    height: 50vh;
    display: inline-block;
    margin-bottom: 30vh;
    padding: 10px;
}

.we {
    background: green;

    width: 35.5vw;
    height: 100vh;
    margin-bottom: 10vh;
    margin-left: 2vw;
    display: inline-block;
}

.understand {
    background: blue;
    
    width: 32.5vw;
    height: 51vh;
    margin-left: 2vw;
    margin-bottom: 35vh;
    display: inline-block;
}

.also {
    background: yellow;
    display: inline-block;
    
    width: 35.5vw;
    height: 25vh;
    margin-left: 50vw;
    margin-top: -20vh;
    display: block;
    z-index: 2;
}

.support,.also,.we, .understand p {
    text-align: center;
    font-size: 1.6rem;
    padding: 5vh;
    /* margin: 0; */
}