.sectionOne {
    margin-top: 27%;
}
.ecoRandom {
    width: 25%;
    height: 30%;
    margin-bottom: 20%;
    background-color: #e0dcce;
}
.ecology {
    margin-left: 10%;
    width: 15%;
    height: 30%;
    background-color: #c2b99b;
}

.sectionTwo {
    margin-top: 10%;
    max-width: 40%;
}
.earth {
    margin-top: 17%;
    margin-left: 5%;
    width: 10%;
    height: 15%;
}

.sectionThree {

}
